@import '~antd/es/style/themes/default.less';

.userModal {
  display: flex;
  flex-direction: column;
  a {
    color: #333;
  }
  div {
    display: flex;
  }
  .child {
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    .input {
      flex: 4;
    }
  }
}

.addChildModal {
  display: flex;
  flex-direction: column;
  width: fit-content;
  .form {
    display: flex;
    flex-direction: row;;
    align-items: center;
  }
  .buInput {
    width: 240px;
    margin-left: 16px;
  }
  .infor {
    width:240px;
    padding: 8px;
    margin-top: 8px;
    background-color: #FFFBE6;
    align-self: flex-end;
  }
}
